<h1>Welcome to this sample app.</h1>

<h3>Routes to check out for engine usage</h3>

<ul>
  <li><%= link_to 'Post an article', blog.new_article_path %></li>
  <li><%= link_to 'View all articles', blog.articles_path %></li>
  <li><%= link_to 'Read an existing article', blog.article_path(1) %></li>
</ul>

