<h1>Blorgh Usage Example App</h1>

<h4>
  All of the following functionality is added through the Blorgh gem. It's a mountable rails engine. The source code for this app is <a href="https://github.com/nakulpathak3/app-to-use-blorgh-gem">here</a>.
</h4>

<h4>
  If you'd like to have a look at the code of the gem itself - <a href="https://github.com/nakulpathak3/blorgh-engine-gem">here you go</a>.
</h4>

<ul>
  <li><%= link_to 'Post an article', blog.new_article_path %></li>
  <li><%= link_to 'View all articles', blog.articles_path %></li>
  <li><%= link_to 'Read an existing article', blog.article_path(1) %></li>
</ul>

<h4> You can also comment on existing articles by opening an article from the list of articles linked to above. </h4>